# Data Manipulation & Math
numpy
pandas
scipy

# Core NLP Libraries
spacy
nltk
gensim
astropy

# Machine Learning & Deep Learning
scikit-learn
torch
transformers
datasets

# Utilities
tqdm
matplotlib
notebook
